@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-width: 1400px; /* Will be AT MOST 320px wide */
  margin-right: auto; margin-left: auto;
  justify-content: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}


.UkMapContainer {
  width: 100%; 
  overflow: hidden;
}

.UkMap {
  float: right;
}


.ColorSlider {
  width: 60px; 
  float: left;
}

.RHS {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.UserInterface {
}


.PostcodeInfo {
  margin-top: 20px;
  padding-top: 100%;
  position: relative;
}

.PostcodeInfoCard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 600px
}

.DetailedView {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.UkMap

.App-link {
  color: #61dafb;
}

.options-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.options-column1 {
  width: 100px;
  vertical-align: middle;
  margin-right: 5px;
}

.options-column2 {
  margin-right: 5px;
}

.options-column3 {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
